# **Deliverable 2: Determine Bias of Vine Reviews**

Using your knowledge of PySpark, Pandas, or SQL, you’ll determine if there is any bias towards reviews that were written as part of the Vine program. For this analysis, you'll determine if having a paid Vine review makes a difference in the percentage of 5-star reviews.

Using either PySpark, Pandas, or SQL, follow the instructions below to complete Deliverable 2.



1.   Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.
2.   Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.

*   If you use the SQL option below, you’ll need to cast your columns as floats using WHERE CAST(helpful_votes AS FLOAT)/CAST(total_votes AS FLOAT) >=0.5.


3.  Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.
4. Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.
5. Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

**NOTE**

We recommend using either PySpark or Pandas to perform the analysis. Using SQL queries is more challenging, especially for Step 5 above, and is better suited for intermediate and experienced SQL programmers.

# **Using PySpark**


1.   Create a new Google Colab Notebook, and name it Vine_Review_Analysis.
2.   Extract the dataset you used in Deliverable 1.
3. Recreate the vine_table, and perform your analysis using the steps above.
4. Export your Vine_Review_Analysis Google Colab Notebook as an ipynb file, and save it to your Amazon_Vine_Analysis GitHub repository.

In [2]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.1.3'
os.environ['SPARK_VERSION']=spark_version
# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark
# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"
# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease [1,581 B]
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:6 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:8 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [91.1 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [912 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,093 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,534 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,938 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,311 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,073 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,369 kB]
Fetched 14.6 MB in 4s (3,741 kB/s)
Reading package lists... Done

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Amazon-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

# **Load Amazon Data into Spark dataframe (df--same as Amazazon_Reviews_ETL.ipynb)**

In [4]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Shoes_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("amazon_reviews_us_Shoes_v1_00.tsv.gz"), sep="\t", header=True, inferSchema=True)
df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   18069663|R3P2HIOQCIN5ZU|B000XB31C0|     265024781|Minnetonka Men's ...|           Shoes|          1|            0|          0|   N|                Y|                   .|Do not buy: reall...| 2015-08-31|
|         US|   16251825|R12VVR0WH5Q24V|B00CFYZH5W|     259035853|Teva Men's Pajaro...|           Shoes|          5|            0|          0|   N|                Y|     super flip flop|provides great cu...| 2015-08-31|
|         US|   20381037| RNCCKB6TV5EEF|B00S8JNN3Q|     666066660|Anne Klein Perfec...|           Shoes|          4|            0|          0|   N|                Y| Great clutch purse!|It's perfect if y...| 2015-08-31|
|         US|     108364|R2NZXYIVCGB13W|B00XFBPOQG|     448483263|adidas Men's 10K ...|           Shoes|          5|            0|          6|   N|                Y|              Badass|  Getting what u see| 2015-08-31|
|         US|   45449350|R2EQ1TG9IT3OEQ|B00SW64Y9W|       7853171|OverBling Sneaker...|           Shoes|          3|            0|          0|   N|                Y|         Three Stars|               small| 2015-08-31|
|         US|   19324665|R1WXA9JSC2H1U1|B011F9E6LI|      14311457|MESSI 15.3 FG/AG ...|           Shoes|          5|            1|          1|   N|                Y|          Five Stars|My 13 year old so...| 2015-08-31|
|         US|   50073594|R12ENYLFGGNWRV|B00HAUP1OI|     264821602|Hoka One One Men'...|           Shoes|          5|            1|          1|   N|                Y|Finally, some cus...|Ok, I have been s...| 2015-08-31|
|         US|   21706057|R2R07E5PNXEUO5|B00L1RKOKW|     767118055|Olukai Nohea Mesh...|           Shoes|          4|            0|          0|   N|                Y|good deal, but ha...|I went a full siz...| 2015-08-31|
|         US|   13708216|R27BA52AKWMWN3|B005WA9MSE|     813856438|Carolina Mens 6" ...|           Shoes|          5|            0|          0|   N|                Y|... would have to...|I would have to s...| 2015-08-31|
|         US|   40542649| RLF8DOID2KD5O|B00BEYQI5C|     661491213|Alegria Women's S...|           Shoes|          3|            0|          0|   N|                Y|           Too small|The size is misle...| 2015-08-31|
|         US|   13409446|R369CEXHXHC6NQ|B00EYAFTCQ|     332158165|Naturalizer Women...|           Shoes|          5|            0|          0|   N|                Y|          Five Stars|These shoes are v...| 2015-08-31|
|         US|    9451727|R171PPIJXFONVI|B00I0QHY32|      49243908|Forever Link Wome...|           Shoes|          5|            0|          0|   N|                Y|          Five Stars|I love these sand...| 2015-08-31|
|         US|     193731|R2JDNM8F2P06FU|B010FZZKYA|     161497902|Versace Collectio...|           Shoes|          4|            1|          1|   N|                Y|          Four Stars|Good quality shoe...| 2015-08-31|
|         US|   34798634|R2W977FO4M97XT|B00V8B30K2|     759958795|Twisted Girl's Ch...|           Shoes|          5|            0|          1|   N|                Y|Good shoes, comfo...|My daughter reall...| 2015-08-31|
|         US|   37235551|R3AM24QPLI28UY|B00LAVB1TC|     910150896|Travel Smart Hand...|           Shoes|          2|            1|          2|   N|                Y|           Two Stars|         It's okay .| 2015-08-31|
|         US|   27081399| REDVXSFYVNT5T|B003C1P8B0|     762792587|Saucony Originals...|           Shoes|          5|            0|          0|   N|                Y|    Love these shoes|Love these shoes!...| 2015-08-31|
|         US|     120678|R14AIIK7D6ENDZ|B000W3UL7W|     123724495|Dr. Marten's Wome...|           Shoes|          5|            0|          0|   N|                Y|          Five Stars|                Good| 2015-08-31|
|         US|   22272389|R3B1NURKMCVAL1|B00LX65PQO|     848850234|Skechers Performa...|           Shoes|          3|            2|          2|   N|                Y|         Three Stars|I like the go wal...| 2015-08-31|
|         US|   19584241|R14Q1GZGV10IMX|B00BEE7N3I|     211637196|Hi-Tec Kid's Nepa...|           Shoes|          4|            0|          0|   N|                Y|          Four Stars|Kids love them fo...| 2015-08-31|
|         US|   12334573| R9BHBB06QD6TM|B008NCHMBW|     138572112|Foot Sox Original...|           Shoes|          1|            2|          2|   N|                Y|Tissue paper is t...|Tissue paper is t...| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [24]:
ratings_df = df.select(["vine", "verified_purchase", "star_rating", "total_votes", "helpful_votes"])
ratings_df.show()

+----+-----------------+-----------+-----------+-------------+
|vine|verified_purchase|star_rating|total_votes|helpful_votes|
+----+-----------------+-----------+-----------+-------------+
|   N|                Y|          1|          0|            0|
|   N|                Y|          5|          0|            0|
|   N|                Y|          4|          0|            0|
|   N|                Y|          5|          6|            0|
|   N|                Y|          3|          0|            0|
|   N|                Y|          5|          1|            1|
|   N|                Y|          5|          1|            1|
|   N|                Y|          4|          0|            0|
|   N|                Y|          5|          0|            0|
|   N|                Y|          3|          0|            0|
|   N|                Y|          5|          0|            0|
|   N|                Y|          5|          0|            0|
|   N|                Y|          4|          1|            1|
|   N|                Y|          5|          1|            0|
|   N|                Y|          2|          2|            1|
|   N|                Y|          5|          0|            0|
|   N|                Y|          5|          0|            0|
|   N|                Y|          3|          2|            2|
|   N|                Y|          4|          0|            0|
|   N|                Y|          1|          2|            2|
+----+-----------------+-----------+-----------+-------------+
only showing top 20 rows

In [25]:
# Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.
votes_df = ratings_df.filter(ratings_df["total_votes"] >= 20)

# Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50% (0.5).
filtered_votes_df = votes_df.filter(votes_df["helpful_votes"]/votes_df["total_votes"] >= 0.5)
filtered_votes_df.show()

+----+-----------------+-----------+-----------+-------------+
|vine|verified_purchase|star_rating|total_votes|helpful_votes|
+----+-----------------+-----------+-----------+-------------+
|   N|                Y|          5|         49|           45|
|   N|                Y|          5|         25|           25|
|   N|                N|          5|         27|           16|
|   N|                Y|          5|         21|           19|
|   N|                Y|          2|         22|           19|
|   N|                Y|          5|         30|           30|
|   N|                Y|          5|         29|           28|
|   N|                Y|          5|         28|           28|
|   N|                Y|          2|         51|           43|
|   N|                Y|          5|         22|           21|
|   N|                Y|          1|         33|           33|
|   N|                Y|          2|         76|           73|
|   N|                Y|          3|         26|           23|
|   N|                Y|          5|         46|           44|
|   N|                Y|          1|         46|           45|
|   N|                Y|          5|         26|           24|
|   N|                Y|          1|         35|           35|
|   N|                Y|          5|         23|           22|
|   N|                Y|          5|         20|           17|
|   N|                Y|          5|         73|           71|
+----+-----------------+-----------+-----------+-------------+
only showing top 20 rows

In [26]:
# Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.
from pyspark.sql.functions import col, avg
paid_df = filtered_votes_df.filter(filtered_votes_df['vine']== 'Y')
paid_df.show()

+----+-----------------+-----------+-----------+-------------+
|vine|verified_purchase|star_rating|total_votes|helpful_votes|
+----+-----------------+-----------+-----------+-------------+
|   Y|                N|          5|         22|           21|
|   Y|                N|          5|         38|           34|
|   Y|                N|          4|        184|          180|
|   Y|                N|          4|         21|           21|
|   Y|                N|          5|         98|           88|
|   Y|                N|          5|         26|           24|
|   Y|                N|          5|         28|           27|
|   Y|                N|          5|         56|           53|
|   Y|                N|          2|         31|           26|
|   Y|                N|          5|         24|           21|
|   Y|                N|          3|         96|           94|
|   Y|                N|          4|         38|           35|
|   Y|                N|          5|         20|           16|
|   Y|                N|          4|         51|           49|
|   Y|                N|          4|         20|           20|
|   Y|                N|          5|         35|           31|
|   Y|                N|          2|         42|           39|
|   Y|                N|          5|         32|           26|
|   Y|                N|          5|         34|           25|
|   Y|                N|          4|        211|          205|
+----+-----------------+-----------+-----------+-------------+
only showing top 20 rows

In [27]:
# Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.
unpaid_df = filtered_votes_df.filter(filtered_votes_df['vine']== 'N')
unpaid_df.show()

+----+-----------------+-----------+-----------+-------------+
|vine|verified_purchase|star_rating|total_votes|helpful_votes|
+----+-----------------+-----------+-----------+-------------+
|   N|                Y|          5|         49|           45|
|   N|                Y|          5|         25|           25|
|   N|                N|          5|         27|           16|
|   N|                Y|          5|         21|           19|
|   N|                Y|          2|         22|           19|
|   N|                Y|          5|         30|           30|
|   N|                Y|          5|         29|           28|
|   N|                Y|          5|         28|           28|
|   N|                Y|          2|         51|           43|
|   N|                Y|          5|         22|           21|
|   N|                Y|          1|         33|           33|
|   N|                Y|          2|         76|           73|
|   N|                Y|          3|         26|           23|
|   N|                Y|          5|         46|           44|
|   N|                Y|          1|         46|           45|
|   N|                Y|          5|         26|           24|
|   N|                Y|          1|         35|           35|
|   N|                Y|          5|         23|           22|
|   N|                Y|          5|         20|           17|
|   N|                Y|          5|         73|           71|
+----+-----------------+-----------+-----------+-------------+
only showing top 20 rows

# **Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).**

In [36]:
# Determine the percentage of 5-star reviews among (paid) Vine reviews
total_paid_vine_reviews = paid_df.count()
total_paid_5star_vine_reviews = paid_df[paid_df['star_rating']== 5].count()
percentage_of_paid_5star_vine_reviews = float(total_paid_5star_vine_reviews) / float(total_paid_vine_reviews)
print(percentage_of_paid_5star_vine_reviews)

0.5909090909090909

In [37]:
# Determine the percentage of 5-star reviews among (unpaid) non-Vine reviews
total_unpaid_nonvine_reviews = unpaid_df.count()
total_unpaid_5star_nonvine_reviews = unpaid_df[unpaid_df['star_rating']== 5].count()
percentage_of_unpaid_5star_nonvine_reviews = float(total_unpaid_5star_nonvine_reviews) / float(total_unpaid_nonvine_reviews)
print(percentage_of_unpaid_5star_nonvine_reviews)

0.5363693630266425

## **Summary for (paid) vine reviews:**

In [43]:
print("Total number of reviews for paid/Vine members:") 
print(total_paid_vine_reviews)
print("")
print("Total number of 5-star reviwes for paid/Vine members:")
print(total_paid_5star_vine_reviews)
print("")
print("Percentage of 5-star reviews for paid/Vine members:")
print(percentage_of_paid_5star_vine_reviews)

Total number of reviews for paid/Vine members:
22

Total number of 5-star reviwes for paid/Vine members:
13

Percentage of 5-star reviews for paid/Vine members:
0.5909090909090909

## **Summary for (unpaid) non-vine reviews:**

In [46]:
print("Total number of reviews for unpaid/non-Vine members:") 
print(total_unpaid_nonvine_reviews)
print("")
print("Total number of 5-star reviwes for unpaid/non-Vine members:")
print(total_unpaid_5star_nonvine_reviews)
print("")
print("Percentage of 5-star reviews for unpaid/non-Vine members:")
print(percentage_of_unpaid_5star_nonvine_reviews)

Total number of reviews for unpaid/non-Vine members:
26987

Total number of 5-star reviwes for unpaid/non-Vine members:
14475

Percentage of 5-star reviews for unpaid/non-Vine members:
0.5363693630266425